body { margin:0 1px 0 0; }
#colonna-sx, #colonna-dx {
float: left;
width: 20%;
}
#principale {
float: left;
width: 60%;
}
body { background: #CCC; color: #000 }

#header { background: #999; color: #FFF }

#colonna-sx, #colonna-dx { background:transparent; color: #000 }

#principale { background: #FFF; color: #000 }

#footer { background: #999; color: #FFF }

Bordi e padding
