{% load static %}

<html>
<head>
  <title>Details car page</title>
  <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="background: grey;">
  <div style="height: 575px; width: 35%; border: 5px;" class="container">
<font align="center">
  {% for carbooked in carsbooked %}<hr>
    <h3><b>Veicolo:</b> {{ carbooked.model }}</h3><br><hr>
    <h3><b>Inizio:</b> {{ carbooked.frombooked }}</h3><br><hr>
    <h3><b>Fine:</b> {{ carbooked.tobooked }}</h3><br><hr>
    <h3><b>Luogo:</b> {{ carbooked.place }}</h3><br><hr>
    <h3><b>Note:</b> {{ carbooked.note }}</h3><br><hr>



  {% endfor %}
</font>
<div class="wrapper"   style="background: black; float:left">

<span class="group-btn">
  {% for carbooked in carsbooked %}
  <input type="button" class="btn btn-danger" onclick="location.href='{% url 'deletebook' id=carbooked.id%}';" value="Delete"/></span>

  {% endfor %}
</span>
</div>
<div class="wrapper" align="right" style="background: black; ">

<span class="group-btn">
  {% for carbooked in carsbooked %}
  <input type="button" class="btn btn-info" onclick="location.href='{% url 'modifybook' id=carbooked.id%}';" value="Modify"/></span>

  {% endfor %}
</span>
</div>


</div>
<div class="wrapper" align="center" style="background: grey; ">

<span class="group-btn" style=" width: 20em;  height: 2em;">
    <input  type="button" class="btn btn-success" onclick="location.href='{% url 'index' %}';" value="Back to Homepage"/></span>

</span>
</div>
</body>
</html>
