{% load static %}

<html>
<head>
  <title>Details car page</title>
  <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static '/register.css' %}" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="background: grey;">
  <div style="height: 575px; width: 35%; border: 5px;" class="container">
  <h2><b>Modifica Prenotazione: </b></h2>
  {% for carbooked in carsbooked %}
  <form action="{% url 'modifybook' id=carbooked.id %}" method="post">
    {% csrf_token %}
    <b>  {{ form.as_p }} <b>

<div class="wrapper" align="center" style="background: black;">

<span class="group-btn">

  <br><input class="btn btn-danger" type="submit" value="Save">
</span>
</div>
</div>
</form>
{% endfor %}
<div class="wrapper" align="center" style="background: grey;">

<span class="group-btn">
      <input type="button" class="btn btn-success" onclick="location.href='{% url 'index' %}';" value="Back to Homepage"/></span>
</span>
</div>
</body>
</html>
