{% load static %}

<html>
<head>
<title>Login page</title>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <div class="container">
      <div class="row">
          <div class="col-md-offset-5 col-md-3">
  <h1>Register page</h1>

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}
  <p>
      <label>First name</label>
      <input type="text" name="first_name" class="form-control input-sm chat-input">
  </p>
  <p>
      <label>Last Name</label>
      <input type="text" name="last_name" class="form-control input-sm chat-input">
  </p>
  <p>
      <label>Username</label>
      <input type="text" name="username" class="form-control input-sm chat-input">
  </p>
  <p>
      <label>Email</label>
      <input type="text" name="email" class="form-control input-sm chat-input">
  </p>
  <p>
      <label>Password</label>
      <input type="password" name="password" class="form-control input-sm chat-input">
  </p>
  <p>
      <label>Repeat Password</label>
      <input type="password" name="password2" class="form-control input-sm chat-input">
  </p>

  <div class="wrapper" align="center">
       <span class="group-btn">
           <button class="btn btn-primary btn-md">Sign Up <i class="fa fa-sign-in"></i></button>
       </span>


 </div><br>
 {% for message in messages %}
 <li class="alert {{ message.tags }}">{{ message }}</li>

 {% endfor %}

 <hr class="hr-success">
 <h4 align="center"><i>Or</i></h4>
 <hr class="hr-success">

 <div class="wrapper" align="center">
      <span class="group-btn">
        <input type="button" class="btn btn-success" onclick="location.href='{% url 'login' %}';" value="Login"/></span>


</div>
</form>

    </div>
</div>
</div>

</body>
</html>
